body{
    background-color: lightgray;
}

.container{
    margin-bottom: 30px;
    margin-left: 50px;
}

.forms-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: lightblue;
}